<h1> Bookmarks </h1>

<ul id='links'>
  <% @bookmarks.each do |bm| %>
    <li>
      Title: <%= bm.title %>
      URL:   <%= bm.url   %>
      Tag:   <%= bm.tags.map(&:tag).join(', ') %>
    </li>
  <% end %>
</ul>
