<form action="/links" method="post">
  <label for="title"> Please enter the name of your link</label>
  <input type="text" name="title">
  <label for="url"> Please enter the url of your link</label>
  <input type="text" name="url">
  <label for="tag"> Please enter a tag for your link</label>
  <input type="text" name="tag">
  <input type="submit" value="Submit">
</form>
